.box {
    float: left;
    width: 200px;
    height: 200px;
    background-color: bisque;
    border: 3px solid black;
    padding: 30px;
    margin: 10px;
    color: yellow;
    text-align: center;
    background-image: url(dogg.jpg);
    background-size: cover;
    background-position: center;
}

.img {
    width: 200px;
    height: 200px;
}

.box2 {
    float: left;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    background-image: url(dogg.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid black;
    padding: 30px;
    margin: 10px;
    color: bisque;
}

.box3 {
    float: left;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    background-image: url(dogg.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid black;
    padding: 30px;
    margin: 10px;
    color: bisque;

}